    body {
    	max-width: 100%;
    	overflow-x: hidden;
		background-color:aquamarine;
    }
	#lul {
		list-style-type: none;
		padding:0;
		margin:0;
		overflow: hidden;
	width:100%;
	top:0;
	height:fit-content;
	clear:both;
	position: fixed;
	left:0;
	right:0;
	}
	.i1 {
		list-style-type: none;
		font-family: Helvetica, Tahoma, Verdana, sans-serif;
		font-size:2.3vw;
		border-radius:2px;
		float: left;
		color:white;
		margin-left: 1vw;
		margin-right: 1vw;
		margin-top:	1vw;
		margin-bottom:0.5vw;
		background-color: #24242470;
		border-radius:7px;
		transition-duration: 0.8s;
		padding:1px;
		}
		
				.i1:hover {
		animation:bobb 1s infinite;
		scale: 1.1;
		}

		@keyframes bobb {
  0%   { transform: translateY(0) rotate(0deg); }
  50%  { transform: translateY(4px) rotate(0.5deg); }
  100% { transform: translateY(0) rotate(0deg); }

}

		a:link {
		color: white;
		text-decoration: none;
	}

	a:visited {
		color: white;
	}

	a:hover {
		color: #ffc0c0;
	}

	a:active {
		text-decoration-line: underline;
		color:powderblue;
			}
				#buttona {
				background-color: #EED86C;
				border: solid #40a4da 2px;
				font-family: 'Trebuchet MS', Tahoma, Verdana, sans-serif;
				border-radius: 10px;
				font-size: 2vw;
				height:fit-content;
				width: 20vw;
				color:white;
				transition-duration: 1s;
				margin-top: 1vw;
				}

			#buttona:hover {
				border:solid gold 2px;
				border-radius: 20px;
				width:23vw;
			}
			.navicon {
				display:none;
			}
			#hamburger {
				display:none;
			}
				.active.i1 {
	border-bottom: solid 3px #33ff6d;
	box-shadow: none;
	}
    		@media (orientation: portrait) {
		#lul {
			background-color:#21212190;
			border:none;
	    width:100%;
	    margin:0;
	    left:0;
margin-left:0;
top:0;
position:fixed;
border-bottom: solid #40a4da 2px;
		}
		#buttona {
			font-size: 4vw;
			color: black;
			width:40vw;
			margin-top: 1vw;
			margin-left: 4vw;
			position: relative;
		}
		#buttona:hover {
			width:50vw;
		}
		
		.i1:hover {
			animation:none;
			transform: scale(1.1);
		}
		
		.i1 {
	display: none;
	font-size:8vw;
	clear:both;
	height:50%;
	margin-top:5%;
	margin-bottom: 5%;
	border-bottom: solid 3px #B1C8EE;
	background-color: #50505360;
	padding:2px;
	border-radius:8px;
	float:right;
	transition-duration: 1s;
}
.i1.showman {
	display: block;
	position: relative;
	animation-name: slidd;
	animation-duration: 0.8s;
}
@keyframes slidd {
	from {right: -100vw;}
	to {right: 0vw;}
}

		.navicon {
			display:block;
			background-color: #1778c2;
			width:9vw;
			height:2px;
			margin:3vw 0;
			margin-left:2vw;
			border-radius: 35px;
		}
		#hamburger {
			float:right;
			display:block;
			margin-right: 2vw;
			transition-duration: 0.3s;
			transition-timing-function: ease-in-out;
		}
		#nldt {
			display:none;
		}
		#nldtb {
			font-size: 8vw !important;
		}
		
}